*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    
}

#navul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navli{
    height: 50px;
}

.bt{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: 0.3s;
}

.bt:hover{
    background-color: lightgray;
}

#rightalign{
    margin-right: auto;
}

#left{
    margin-right: auto;
    list-style: none;
}

